.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.chat-header {
    background-color: #020202;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex-shrink: 0; 
}

.chat-content {
    display: flex;
    flex: 1;
    overflow: hidden; 
}

.chat-window {
    flex: 3;
    padding: 10px;
    overflow-y: auto; 
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
}

.chat-message {
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    background-color: #e1f5fe;
    overflow-wrap: break-word;  
    word-wrap: break-word;      
    white-space: pre-wrap;      
}

.chat-input-container {
    display: flex;
    padding: 10px;
    flex-shrink: 0; }

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.user-list {
    flex: 1;
    padding: 10px;
    background-color: #e1f5fe;
    border-left: 1px solid #ccc;
    overflow-y: auto; 

}

.user-list h2 {
    margin: 0 0 10px 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 14px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.provider-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
  }

.delete-icon  {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



.button-68 {
  appearance: none;
  background-color: #000000;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}